* {
    box-sizing: border-box;
    margin: 0%;
}
body {
    margin: 0px;
    background-color: blueviolet;
}

#verificacao {
    position: absolute;
    margin-left: 650px;
    margin-top: 250px;
    
    border: 4px black solid;
    border-radius: 5px;
    width: 400px;
    height: 300px;
    background-color: blue;
}
#botoes {
    position: relative;
    top: 75%;
    transform: translateY(-50%);
    transform: translateX(35%);
    border: 2px solid transparent;
    width: max-content;

}

p {
    position: absolute;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 40px;
}
.botao {

        background: #0066A2;
        color: white;
        border-style: outset;
        border-color: #0066A2;
        height: 50px;
        width: 100px;
        font: bold 15px arial, sans-serif;
        text-shadow:none;
        margin-right: 10px;
        
}