.posicao{
    position: absolute;
    width: 170px;
    height: 100px;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
}

#branco{
    top: 140px;
    left: 100px;
    background-color: #ffffff;
    height: 100px;
    border: solid 3px black;
    z-index: 4;
}

#azul{
    top: 100px;
    left: 60px;
    background-color: #06f;
    border: solid 3px #000;
    z-index: 3
}

#laranja{
    top: 60px;
    left: 20px;
    background-color: orange;
    border: solid 3px #000;
    z-index: 2
}

#fundo{
    top: 20px;
    left: 5px;
    width: 300px;
    height: 250px;
    background-color: #eee;
    border: solid 3px #000;
    z-index: 1
}
